#user {
  position:absolute;
  z-index:2;
  width:10vw;
  top:1vh;
  right:2vw;
  font-size:24px;
  background-color:orange;}

#main .form-control{
  height:15vh;
  width:95vw;
  position:relative;
  left:2px;
}

#auth{
  height:5vh;
}

#random{
  background:rgb(224,224,224);
  font-size:32px;
}

#current {
font-size:32px;
background:rgb(200,100,50);
}

#page1 {
position:relative;
top:10vh;
}